@page "/SnippetList"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ISnippetData _db
@inject NavigationManager _nav

<h1>Snippets</h1>

<div class="control">
    <input class="form-control" size="82" @bind-value="searchText" @bind-value:event="oninput" placeholder="Search..." />
    <button type="submit" class="btn btn-dark" @onclick="@(()=> _nav.NavigateTo("/new"))">New snippet</button>
</div>

<hr />

@if(snippets is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table style="width:100%" class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th @onclick="@(() => SortList("Title"))">Title</th>
                <th @onclick="@(() => SortList("Created"))">Created</th>
                <th @onclick="@(() => SortList("Modify"))">Last Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var snippet in filteredSnippets)
            {
                <tr>
                    <td @ondblclick="@(()=> _nav.NavigateTo("/edit" + "/" + snippet.Id))" style="width:50%">@snippet.Title</td>
                    <td style="width:15%">@snippet.CreatedTime</td>
                    <td style="width:15%">@snippet.ModifyTime</td>
                    <td>
                        <button type="submit" class="btn btn-light ctr-btn ctr-btn-edit" @onclick="@(() => _nav.NavigateTo("/edit" + "/" + snippet.Id))">Edit</button>
                        <button type="submit" class="btn btn-light ctr-btn ctr-btn-delete" @onclick="() => DeleteSnippet(snippet)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<string, bool> asc = new();
    private List<SnippetModel> snippets;
    private string searchText = "";

    //Regex ha searchText első karaktere ! , akkor not contains

    private List<SnippetModel> filteredSnippets =>
    snippets.Where(s =>
            s.Title.ToLower().Contains(searchText.ToLower())).ToList();

    protected override async Task OnInitializedAsync()
    {
        snippets = (await _db.GetSnippet()).OrderByDescending(x => x.CreatedTime).ToList();

        asc.Add("Title", true);
        asc.Add("Created", true);
        asc.Add("Modify", true);
    }

    //TODO: are you sure? implementálása.
    protected async Task DeleteSnippet(SnippetModel snippet)
    {
        await _db.DeleteSnippet(snippet);

        snippets.RemoveAll(s => s.Id == snippet.Id);
    }

    //TODO: stringről enumra átírni
    //TODO: nagyon hard-codeolt így a switch
    //TODO: ordering direction mark to header
    //TODO: szerkesztés után meg kéne tartani a szűrést, elmenteni az állapotot
    protected void SortList(string column)
    {
        switch (column)
        {
            case "Title":
                if (asc["Title"])
                {
                    snippets.Sort((s1, s2) => s1.Title.CompareTo(s2.Title));
                    asc["Title"] = !asc["Title"];
                    asc["Created"] = true;
                    asc["Modify"] = true;
                }
                else
                {
                    snippets.Sort((s1, s2) => s2.Title.CompareTo(s1.Title));
                    asc["Title"] = !asc["Title"];
                    asc["Created"] = true;
                    asc["Modify"] = true;
                }
                break;
            case "Created":
                if (asc["Created"])
                {
                    snippets.Sort((s1, s2) => s1.CreatedTime.CompareTo(s2.CreatedTime));
                    asc["Title"] = true;
                    asc["Created"] = !asc["Created"];
                    asc["Modify"] = true;
                }
                else
                {
                    snippets.Sort((s1, s2) => s2.CreatedTime.CompareTo(s1.CreatedTime));
                    asc["Title"] = true;
                    asc["Created"] = !asc["Created"];
                    asc["Modify"] = true;
                }
                break;
            case "Modify":
                if (asc["Modify"])
                {
                    snippets.Sort((s1, s2) => s1.ModifyTime.CompareTo(s2.ModifyTime));
                    asc["Title"] = true;
                    asc["Created"] = true;
                    asc["Modify"] = !asc["Modify"];
                }
                else
                {
                    snippets.Sort((s1, s2) => s2.ModifyTime.CompareTo(s1.ModifyTime));
                    asc["Title"] = true;
                    asc["Created"] = true;
                    asc["Modify"] = !asc["Modify"];
                }
                break;
            default:
                break;
        }
    }
}
